<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h1>Admin panel</h1>

<h3>All users:</h3>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <!-- цикл по всем пользователям -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.authority}" style="display: block">ROLE_USER</span>
        </td>
        <td>
            <a th:href="@{/admin/adminUpdate(id=${user.id})}">Edit</a>

            <form th:action="@{/admin/delete}" th:method="POST" style="display:inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br/>

<form th:action="@{/logout}" th:method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Logout" style="color: red"/>
</form>

</body>
</html>